#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */

/* Ajout du style de background pour toute la page */
body {
  margin: 0;
  padding: 0;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Ffr%2Fvectors%2Faffiche-publicitaire.html&psig=AOvVaw3KaQuMF0cyZepQcCt_NysU&ust=1719617566876000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNDt6uX4_IYDFQAAAAAdAAAAABAE');
  background-size: cover; /* Pour couvrir toute la page */
  background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
  background-position: center center; /* Pour centrer l'image */
  font-family: Arial, sans-serif;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  padding-top: 70px; /* Ajustez selon la hauteur de votre navbar */
}
